<h2 (click)="Add = !Add">Add Post</h2>
<div class="card card-body mb-3">
  <form>
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" [(ngModel)]="currentPost.title" name="title" #title>
    </div>
    <div class="form-group">
      <label>Body</label>
      <input type="text" class="form-control" [(ngModel)]="currentPost.body" name="body" #body>
    </div>
    <input type="hidden" name="id" [(ngModel)]="currentPost.id">
    <div class="form-group">
      <label>Upload photo</label>
      <div>
        <input name="Images" type="file" id="sign" accept="image/jpeg, image/jpg"
          (change)="handleInputChange($event)" class="border-0 p-0" ngModel>
      </div>
    </div>
    <button *ngIf="isEdit" (click)="updatePost()" class="btn btn-warning btn-block">Update Post</button>
    <button *ngIf="!isEdit" (click)="addPost(title.value, body.value)" class="btn btn-dark btn-block">Add Post</button>
    <div>
      <h6>Note: The added post will be shown on the top in place of 1st Post.</h6>
    </div>
  </form>
</div>
